<h1>Upgrade Inventory Links</h1>

<div>
    <a class="go" href="{{ cpUrl('_extras/upgrade/fields') }}">Fields</a>
    {% for fieldType in fieldTypes %}
        <div style="margin-left: 24px;">
            <a class="go"
               href="{{ cpUrl('_extras/upgrade/fields', {type: fieldType}) }}">{{ fieldType|replace('craft\\fields\\','') }}</a>
        </div>
    {% endfor %}

</div>

<p>
    <a class="go" href="{{ cpUrl('_extras/upgrade/entrytypes') }}">Entry Types</a>
</p>
<p>
    <a class="go" href="{{ cpUrl('_extras/upgrade/blockusage') }}">Block Usage</a>
</p>

{% if mergeCandidatesLists %}
    <h2>Merge Candidates</h2>
    {% for mergeCandidatesList in mergeCandidatesLists %}
        <p>
            <a class="go"
               href="{{ cpUrl('_extras/upgrade/fields', {handles: mergeCandidatesList|replace(' ','')}) }}">{{ mergeCandidatesList }}</a>
        </p>
    {% endfor %}
{% else %}
    <p>
        No merge candidates found
    </p>
{% endif %}