{% from _self import showElement %}
<div class="map">
    <label>{{ 'References to This Element'|t('_extras') }}</label>
    <ul>
        {% for element in map.incoming %}
            {{ showElement(element) }}
        {% endfor %}
        {% if map.incoming | length == 0 %}
            <li>{{ 'None'|t('_extras') }}</li>
        {% endif %}
    </ul>
</div>
<div class="map">
    <label>{{ 'References to Other Elements'|t('_extras') }}</label>
    <ul>
        {% for element in map.outgoing %}
            {{ showElement(element) }}
        {% endfor %}
        {% if map.outgoing | length == 0 %}
            <li>{{ 'None'|t('_extras') }}</li>
        {% endif %}
    </ul>
</div>

{% macro showElement(element) %}
    <li>
        <div style="display: flex; align-items: center">


            {% if element.image is defined %}
                <div>
                    {% if element.kind == 'image' %}
                        <img class="thumbnail" src="{{ element.image }}" height="32" width="32">
                    {% else %}
                        <a href="{{ element.fileUrl }}" target="_blank">
                            {{ svg('@appicons/download.svg') }}
                        </a>
                    {% endif %}
                </div>
            {% else %}
                {% if element.icon is defined %}
                    {% set icon = svg(element.icon) %}
                    
                    <div class="icon icon-mask">{{ svg(element.icon)|attr({style: "fill: #{element.color ?? '#000000'};"}) }}</div>
                {% endif %}
            {% endif %}
            <a href="{{ element.url }}" data-id="{{ element.id }}" data-editable>
                {{ element.title }}
            </a>
        </div>
    </li>
{% endmacro %}
