{# @var plugin \wsydney76\extras\ExtrasPlugin #}
{# @var settings \wsydney76\extras\models\Settings #}

{% import 'codeeditor/codeEditor' as codeEditor %}
{% import '_includes/forms.twig' as forms %}



{{ forms.lightswitchField({
    first: true,
    label: 'Enable Sidebar Visibility'|t('_extras'),
    name: 'enableSidebarVisibility',
    on: settings.enableSidebarVisibility,
    onLabel: 'Make heading in element indexes collabsible'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Elementmap'|t('_extras'),
    name: 'enableElementmap',
    on: settings.enableElementmap,
    onLabel: 'Show relationships'|t('_extras')
}) }}

<div style="margin-left: 48px">
{{ forms.lightswitchField({
    label: 'Show relationships to all sites'|t('_extras'),
    name: 'showAllSites',
    on: settings.showAllSites,
}) }}
</div>

{{ forms.lightswitchField({
label: 'Enable Condition Rules'|t('_extras'),
name: 'enableConditionRules',
on: settings.enableConditionRules,
onLabel: 'Enable Has Drafts, All Types condition rules'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Owner Path functionality'|t('_extras'),
    name: 'enableOwnerPath',
    on: settings.enableOwnerPath,
    onLabel: 'Enable getOwnerPath() method, Owner Path entries index column'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Extras Variable'|t('_extras'),
    name: 'enableExtrasVariable',
    on: settings.enableExtrasVariable,
    onLabel: 'Enable craft._extras variable'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Twig Extension'|t('_extras'),
    name: 'enableTwigExtension',
    on: settings.enableTwigExtension,
    onLabel: 'Enable additional filters and functions for Twig'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable dashboard widgets'|t('_extras'),
    name: 'enableWidgets',
    on: settings.enableWidgets,
    onLabel: 'Enable dashboard widgets.'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable draft helpers'|t('_extras'),
    name: 'enableDraftHelpers',
    on: settings.enableDraftHelpers,
    onLabel: 'Enable draft helpers like hints about existing drafts and compare feature.'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Collection Makros'|t('_extras'),
    name: 'enableCollectionMakros',
    on: settings.enableCollectionMakros,
    onLabel: 'Enable Laravel collection makros like sortByLocale'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Element Actions'|t('_extras'),
    name: 'enableElementActions',
    on: settings.enableElementActions,
    onLabel: 'Enable element actions like Copy reference tag for entries'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Restore dismissed tips'|t('_extras'),
    name: 'enableRestoreDismissedTips',
    on: settings.enableRestoreDismissedTips,
    onLabel: 'Enable the possibility to restore dismissed tips/warnings on users edit preferences page.'|t('_extras')
}) }}
<hr>

<h2 class="heading">{{ 'Assets'|t }}</h2>

{{ forms.lightswitchField({
label: 'Enable CP Assets'|t('_extras'),
name: 'enableCpAssets',
on: settings.enableCpAssets,
onLabel: 'Enable custom CSS for the Control Panel'|t('_extras')
}) }}

{{ forms.textField({
    label: 'Body Font Size'|t('_extras'),
    name: 'bodyFontSize',
    value: settings.bodyFontSize,
    instructions: 'CSS value for general font size'|t('_extras'),
    tip: 'User specific setting can be enabled by creating a custom plaintext user field with the handle extrasBodyFontSize'|t('_extras')
}) }}

{% set monacoOptions = {
    language: 'css',
    theme: 'vs-light',
    lineNumbers: 'on',
    lineNumbersMinChars: 4,
    lineDecorationsWidth: 6,
    folding: true,
} %}

{% set codeEditorOptions = {
    wrapperClass: 'monaco-editor-background-frame'
} %}

{{ codeEditor.textareaField({
    label: "Additional CSS"|t,
    instructions: "Enter any additional CSS here."|t,
    id: 'customCss',
    name: 'customCss',
    value: settings.customCss,
    rows: 5
}, 'CodeField', monacoOptions, codeEditorOptions) }}


<hr>
<h2 class="heading">{{ 'Compare Settings'|t('_extras') }}</h2>

{{ forms.selectField({
    label: 'Renderer'|t('_extras'),
    name: 'diffRendererName',
    value: settings.diffRendererName,
    options: [
        {label: 'Combined', value: 'Combined'},
        {label: 'Inline', value: 'Inline'},
        {label: 'JsonHtml', value: 'JsonHtml'},
        {label: 'SideBySide', value: 'SideBySide'}
    ],
    instructions: 'HTML Renderer Class Name'|t('_extras')
}) }}

{{ forms.textField({
    label: 'Context'|t('_extras'),
    type: 'number',
    name: 'diffContext',
    value: settings.diffContext,
    min: 1,
    instructions: 'Show how many neighbor lines'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Ignore Case'|t('_extras'),
    name: 'diffIgnoreCase',
    on: settings.diffIgnoreCase,
    onLabel: 'Ignore case difference'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Ignore White space'|t('_extras'),
    name: 'diffIgnoreWhitespace',
    on: settings.diffIgnoreWhitespace,
    onLabel: 'Ignore whitespace difference'|t('_extras')
}) }}

{{ forms.selectField({
    label: 'Detail Level'|t('_extras'),
    name: 'diffDetailLevel',
    value: settings.diffDetailLevel,
    options: [
        {label: 'None'|t('_extras'), value: 'none'},
        {label: 'Word'|t('_extras'), value: 'word'},
        {label: 'Line'|t('_extras'), value: 'line'},
        {label: 'Character'|t('_extras'), value: 'char'}
    ],
    instructions: 'How detailed the rendered HTML in-line diff is'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Show Line Numbers'|t('_extras'),
    name: 'diffLineNumbers',
    on: settings.diffLineNumbers,
    onLabel: 'Show line numbers in HTML renderers'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Separate Blocks'|t('_extras'),
    name: 'diffSeparateBlock',
    on: settings.diffSeparateBlock,
    onLabel: 'Show a separator between different diff hunks in HTML renderers'|t('_extras')
}) }}

{{ forms.lightswitchField({
    label: 'Show Header'|t('_extras'),
    name: 'diffShowHeader',
    on: settings.diffShowHeader,
    onLabel: 'Show the (table) header'|t('_extras')
}) }}

{{ forms.textField({
    label: 'Merge Threshold'|t('_extras'),
    type: 'number',
    name: 'diffMergeThreshold',
    value: settings.diffMergeThreshold,
    min: 0,
    max: 1,
    step: 0.1,
    instructions: 'This option is currently only for the Combined renderer. It determines whether a replace-type block should be merged or not depending on the content changed ratio, which values between 0 and 1'|t('_extras')
}) }}