{# @var settings \wsydney76\extras\models\Settings #}

{# ============= Settings template ======================== #}

{% import '_includes/forms.twig' as forms %}

<div id="ax">

    {{ forms.lightswitchField({
        first: true,
        label: 'Enable Sidebar Visibility'|t('_extras'),
        name: 'enableSidebarVisibility',
        on: settings.enableSidebarVisibility,
        onLabel: 'Make heading in element indexes collabsible'|t('_extras'),
        warning: config.enableSidebarVisibility is defined ? _self.configWarning('enableSidebarVisibility')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Elementmap'|t('_extras'),
        name: 'enableElementmap',
        on: settings.enableElementmap,
        onLabel: 'Show relationships'|t('_extras'),
        warning: config.enableElementmap is defined ? _self.configWarning('enableElementmap')
    }) }}

    <div style="margin-left: 48px;">
        {{ forms.lightswitchField({
            label: 'Look for relationships on which site?'|t('_extras'),
            name: 'showAllSites',
            on: settings.showAllSites,
            onLabel: 'On all sites'|t('_extras'),
            offLabel: 'On active site only'|t('_extras'),
            warning: config.showAllSites is defined ? _self.configWarning('showAllSites'),
        }) }}
    </div>

    <div style="margin-top:24px; margin-left: 48px;">
        {{ forms.lightswitchField({
            label: 'Show image thumbnails?'|t('_extras'),
            name: 'showThumbnails',
            on: settings.showThumbnails,
            onLabel: 'Show small thumbnails for link to image assets'|t('_extras'),
            offLabel: 'Show icon'|t('_extras'),
            tip: 'This slows down performance significantly, so disable it if a lot of images are related to an element.'|t('_extras'),
            warning: config.showThumbnails is defined ? _self.configWarning('showThumbnails'),
        }) }}
    </div>

    <div style="margin-top: 24px; margin-left: 48px;">
        {{ forms.lightswitchField({
            label: 'Where the link for a found relationship to a nested element should point to'|t('_extras'),
            name: 'linkToNestedElement',
            on: settings.linkToNestedElement,
            onLabel: 'Link to nested element'|t('_extras'),
            offLabel: 'Link to top level element'|t('_extras'),
            warning: config.linkToNestedElement is defined ? _self.configWarning('linkToNestedElement')
        }) }}
    </div>

    <div style="margin-top:24px; margin-left: 48px;">
        {{ forms.lightswitchField({
            label: 'Show revisions?'|t('_extras'),
            name: 'showRevisions',
            on: settings.showRevisions,
            onLabel: 'Also show revisions'|t('_extras'),
            offLabel: 'Show canonical elements and drafts'|t('_extras'),
            warning: config.showRevisions is defined ? _self.configWarning('showRevisions'),
        }) }}
    </div>

    {{ forms.lightswitchField({
        label: 'Enable dashboard widgets'|t('_extras'),
        name: 'enableWidgets',
        on: settings.enableWidgets,
        onLabel: 'Enable dashboard widgets.'|t('_extras'),
        warning: config.enableWidgets is defined ? _self.configWarning('enableWidgets')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable draft helpers'|t('_extras'),
        name: 'enableDraftHelpers',
        on: settings.enableDraftHelpers,
        onLabel: 'Enable draft helpers like hints about existing drafts and compare feature.'|t('_extras'),
        warning: config.enableDraftHelpers is defined ? _self.configWarning('enableDraftHelpers')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Element Actions'|t('_extras'),
        name: 'enableElementActions',
        on: settings.enableElementActions,
        onLabel: 'Enable element actions like Copy reference tag for entries'|t('_extras'),
        warning: config.enableElementActions is defined ? _self.configWarning('enableElementActions')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Restore dismissed tips'|t('_extras'),
        name: 'enableRestoreDismissedTips',
        on: settings.enableRestoreDismissedTips,
        onLabel: 'Enable the possibility to restore dismissed tips/warnings on users edit preferences page.'|t('_extras'),
        warning: config.enableRestoreDismissedTips is defined ? _self.configWarning('enableRestoreDismissedTips')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable cross site validation'|t('_extras'),
        name: 'enableCrossSiteValidation',
        on: settings.enableCrossSiteValidation,
        onLabel: 'Validate elements from other sites on save.'|t('_extras'),
        warning: config.enableCrossSiteValidation is defined ? _self.configWarning('enableCrossSiteValidation')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Volume Inventory Utility'|t('_extras'),
        name: 'enableVolumeInventory',
        on: settings.enableVolumeInventory,
        onLabel: 'Enable a utility that shows volumes and file system with their configuration.'|t('_extras'),
        warning: config.enableVolumeInventory is defined ? _self.configWarning('enableVolumeInventory')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Upgrade Inventory Utility'|t('_extras'),
        name: 'enableUpgradeInventory',
        on: settings.enableUpgradeInventory,
        onLabel: 'Enable a utility that show helpful data for consolidating entry types and fields when migrating from Craft 4 to Craft 5'|t('_extras'),
        warning: config.enableUpgradeInventory is defined ? _self.configWarning('enableUpgradeInventory')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Draft Package Utility'|t('_extras'),
        name: 'enableDraftPackageUtility',
        on: settings.enableDraftPackageUtility,
        onLabel: 'Enable a utility allows to apply related drafts simultaneously'|t('_extras'),
        warning: config.enableDraftPackageUtility is defined ? _self.configWarning('enableDraftPackageUtility')
    }) }}

    <div style="margin-left: 48px;">
        {{ forms.textField({
            label: 'Draft package section handle'|t('_extras'),
            name: 'draftPackageSection',
            value: settings.draftPackageSection,
            instructions: 'The handle of the section that defines a package'|t('_extras'),
            tip: 'Element drafts are part of a package if they have a relation to an element that belongs to this section'|t('_extras'),
            warning: config.draftPackageSection is defined ? _self.configWarning('draftPackageSection')
        }) }}
    </div>

    <div style="margin-left: 48px; margin-top: 24px;">
        {{ forms.textField({
            label: 'Draft package field handle'|t('_extras'),
            name: 'draftPackageField',
            value: settings.draftPackageField,
            instructions: 'The handle of the field that attaches an element to a package'|t('_extras'),
            warning: config.draftPackageField is defined ? _self.configWarning('draftPackageField')
        }) }}
    </div>

    <div style="margin-left: 48px; margin-top: 24px;">
        {{ forms.lightswitchField({
            label: 'Include provisional drafts in package'|t('_extras'),
            name: 'includeProvisionalDraftsInPackage',
            on: settings.includeProvisionalDraftsInPackage,
            offLabel: 'Only regular drafts'|t('_extras'),
            onLabel: 'Also include provisional drafts'|t('_extras'),
            tip: 'This is not recommended, it is better to use only drafts that are visible to all users.'|t('_extras'),
            warning: config.includeProvisionalDraftsInPackage is defined ? _self.configWarning('includeProvisionalDraftsInPackage')
        }) }}
    </div>

    {{ forms.lightswitchField({
        label: 'Enable View Links In Cards'|t('_extras'),
        name: 'enableViewLinkInCards',
        on: settings.enableViewLinkInCards,
        onLabel: 'Add a link to view an element on the frontend to cards.'|t('_extras'),
        warning: (config.enableViewLinkInCards is defined ? _self.configWarning('enableViewLinkInCards')) ~ ' Deprecated, causes the element selection modal to hang in Craft 5.6.? when adding a new element to a field. Use disclosure menu "Show in new tab" instead.'
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable CKEditor plugins'|t('_extras'),
        name: 'enableCkeditorPlugins',
        on: settings.enableCkeditorPlugins,
        onLabel: 'Enable Highlight/Mentions CKEditorPlugins'|t('_extras'),
        warning: (config.enableCkeditorPlugins is defined ? _self.configWarning('enableCkeditorPlugins')) ~ (not craft.app.plugins.pluginEnabled('ckeditor') ? 'CKEditor is not enabled'|t('_extras'))
    }) }}

    {{ forms.selectField({
        label: 'Enable Inspect Preview Target'|t('_extras'),
        name: 'enableInspectPreviewTarget',
        value: settings.enableInspectPreviewTarget,
        options: [
            {label: 'Never'|t('_extras'), value: 'never'},
            {label: 'When DevMode is on'|t('_extras'), value: 'devMode'},
            {label: 'Always'|t('_extras'), value: 'always'}
        ],
        instructions: 'Add a preview target that dumps internal database content.'|t('_extras'),
        warning: config.enableInspectPreviewTarget is defined ? _self.configWarning('enableInspectPreviewTarget')
    }) }}


</div>

<div id="general" class="hidden">
    <div class="readable" style="margin-bottom: 48px;">
        <blockquote class="note warning">
            <p>
                {{ 'Settings that are mandatory for your code should be defined in "config/_extras.php".'|t('_extras') }}
            </p>
        </blockquote>
    </div>


    {{ forms.lightswitchField({
        first: true,
        label: 'Enable Condition Rules'|t('_extras'),
        name: 'enableConditionRules',
        on: settings.enableConditionRules,
        onLabel: 'Enable Has Drafts, All Types condition rules'|t('_extras'),
        warning: config.enableConditionRules is defined ? _self.configWarning('enableConditionRules')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Owner Path functionality'|t('_extras'),
        name: 'enableOwnerPath',
        on: settings.enableOwnerPath,
        onLabel: 'Enable getOwnerPath() method, Owner Path entries index column'|t('_extras'),
        warning: config.enableOwnerPath is defined ? _self.configWarning('enableOwnerPath')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Extras Variable'|t('_extras'),
        name: 'enableExtrasVariable',
        on: settings.enableExtrasVariable,
        onLabel: 'Enable craft._extras variable'|t('_extras'),
        warning: config.enableExtrasVariable is defined ? _self.configWarning('enableExtrasVariable')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Twig Extension'|t('_extras'),
        name: 'enableTwigExtension',
        on: settings.enableTwigExtension,
        onLabel: 'Enable additional filters and functions for Twig'|t('_extras'),
        warning: config.enableTwigExtension is defined ? _self.configWarning('enableTwigExtension')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Collection Makros'|t('_extras'),
        name: 'enableCollectionMakros',
        on: settings.enableCollectionMakros,
        onLabel: 'Enable Laravel collection makros like addToCollection'|t('_extras'),
        warning: config.enableCollectionMakros is defined ? _self.configWarning('enableCollectionMakros')
    }) }}



    {{ forms.lightswitchField({
        label: 'Enable Field Layout Elements'|t('_extras'),
        name: 'enableFieldLayoutElements',
        on: settings.enableFieldLayoutElements,
        onLabel: 'Enable element field layout elements like Instructions'|t('_extras'),
        warning: config.enableFieldLayoutElements is defined ? _self.configWarning('enableFieldLayoutElements')
    }) }}


    {{ forms.lightswitchField({
        label: 'Enable Action Routes'|t('_extras'),
        name: 'enableActionRoutes',
        on: settings.enableActionRoutes,
        onLabel: 'Enable section template settings to point to custom controller, in the form of "action:module/controller/action"'|t('_extras'),
        warning: config.enableActionRoutes is defined ? _self.configWarning('enableActionRoutes')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Extended lightswitch field'|t('_extras'),
        name: 'enableExtendedLightswitchField',
        on: settings.enableExtendedLightswitchField,
        warning: config.enableExtendedLightswitchField is defined ? _self.configWarning('enableExtendedLightswitchField')
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Styles field'|t('_extras'),
        name: 'enableStylesField',
        on: settings.enableStylesField,
        warning: config.enableStylesField is defined ? _self.configWarning('enableStylesField')
    }) }}



</div>


<div id="assets" class="hidden">


    {{ forms.lightswitchField({
        first: true,
        label: 'Enable CP Assets'|t('_extras'),
        name: 'enableCpAssets',
        on: settings.enableCpAssets,
        onLabel: 'Enable custom CSS for the Control Panel'|t('_extras'),
        warning: config.enableCpAssets is defined ? _self.configWarning('enableCpAssets')
    }) }}

    {{ forms.textField({
        label: 'Body Font Size'|t('_extras'),
        name: 'bodyFontSize',
        value: settings.bodyFontSize,
        instructions: 'CSS value for general font size'|t('_extras'),
        tip: 'User specific setting can be enabled by creating a custom plaintext user field with the handle extrasBodyFontSize'|t('_extras'),
        warning: config.bodyFontSize is defined ? _self.configWarning('bodyFontSize')
    }) }}

    {{ forms.textareaField({
        label: "Additional CSS"|t('_extras'),
        instructions: "Enter any additional CSS here."|t('_extras'),
        id: 'customCss',
        name: 'customCss',
        value: settings.customCss,
        rows: 5
    }) }}


</div>

<div id="compare" class="hidden">


    {{ forms.selectField({
        first: true,
        label: 'Renderer'|t('_extras'),
        name: 'diffRendererName',
        value: settings.diffRendererName,
        options: [
            {label: 'Combined', value: 'Combined'},
            {label: 'Inline', value: 'Inline'},
            {label: 'JsonHtml', value: 'JsonHtml'},
            {label: 'SideBySide', value: 'SideBySide'}
        ],
        instructions: 'HTML Renderer Class Name'|t('_extras'),
        warning: config.diffRendererName is defined ? _self.configWarning('diffRendererName')
    }) }}

    {{ forms.textField({
        label: 'Context'|t('_extras'),
        type: 'number',
        name: 'diffContext',
        value: settings.diffContext,
        min: 1,
        instructions: 'Show how many neighbor lines'|t('_extras'),
        warning: config.diffContext is defined ? _self.configWarning('diffContext')
    }) }}

    {{ forms.lightswitchField({
        label: 'Ignore Case'|t('_extras'),
        name: 'diffIgnoreCase',
        on: settings.diffIgnoreCase,
        onLabel: 'Ignore case difference'|t('_extras'),
        warning: config.diffIgnoreCase is defined ? _self.configWarning('diffIgnoreCase')
    }) }}

    {{ forms.lightswitchField({
        label: 'Ignore White space'|t('_extras'),
        name: 'diffIgnoreWhitespace',
        on: settings.diffIgnoreWhitespace,
        onLabel: 'Ignore whitespace difference'|t('_extras'),
        warning: config.diffIgnoreWhitespace is defined ? _self.configWarning('diffIgnoreWhitespace')
    }) }}

    {{ forms.selectField({
        label: 'Detail Level'|t('_extras'),
        name: 'diffDetailLevel',
        value: settings.diffDetailLevel,
        options: [
            {label: 'None'|t('_extras'), value: 'none'},
            {label: 'Word'|t('_extras'), value: 'word'},
            {label: 'Line'|t('_extras'), value: 'line'},
            {label: 'Character'|t('_extras'), value: 'char'}
        ],
        instructions: 'How detailed the rendered HTML in-line diff is'|t('_extras'),
        warning: config.diffDetailLevel is defined ? _self.configWarning('diffDetailLevel')
    }) }}

    {{ forms.lightswitchField({
        label: 'Show Line Numbers'|t('_extras'),
        name: 'diffLineNumbers',
        on: settings.diffLineNumbers,
        onLabel: 'Show line numbers in HTML renderers'|t('_extras'),
        warning: config.diffLineNumbers is defined ? _self.configWarning('diffLineNumbers')
    }) }}

    {{ forms.lightswitchField({
        label: 'Separate Blocks'|t('_extras'),
        name: 'diffSeparateBlock',
        on: settings.diffSeparateBlock,
        onLabel: 'Show a separator between different diff hunks in HTML renderers'|t('_extras'),
        warning: config.diffSeparateBlock is defined ? _self.configWarning('diffSeparateBlock')
    }) }}

    {{ forms.lightswitchField({
        label: 'Show Header'|t('_extras'),
        name: 'diffShowHeader',
        on: settings.diffShowHeader,
        onLabel: 'Show the (table) header'|t('_extras'),
        warning: config.diffShowHeader is defined ? _self.configWarning('diffShowHeader')
    }) }}

    {{ forms.textField({
        label: 'Merge Threshold'|t('_extras'),
        type: 'number',
        name: 'diffMergeThreshold',
        value: settings.diffMergeThreshold,
        min: 0,
        max: 1,
        step: 0.1,
        instructions: 'This option is currently only for the Combined renderer. It determines whether a replace-type block should be merged or not depending on the content changed ratio, which values between 0 and 1'|t('_extras'),
        warning: config.diffMergeThreshold is defined ? _self.configWarning('diffMergeThreshold')
    }) }}

</div>


{% macro configWarning(setting) -%}
    {{ 'This is being overridden by the `{setting}` config setting and cannot be changed here.'|t('_extras', {setting: setting })|markdown(inlineOnly=true) }}
{%- endmacro %}