{% extends "_extras/upgrade/_layout.twig" %}


{% block content %}
    {% set fields = craft.app.fields.allFields | filter(f => className(f) == 'craft\\fields\\Matrix') %}
    {% set limit = craft.app.request.queryParam('limit', 10) %}
    <p>
        ?limit=[number]
    </p>
    {# @var field \craft\fields\Matrix #}
    <table>

        <thead>
        <tr>
            <th>Matrix Field</th>
            <th>Entry Type</th>
            <th>Usages</th>
            <th>Entries Usage < {{ limit }}</th>
        </tr>
        </thead>

        {% for field in fields %}

            {% set types = field.entryTypes %}

            {# {% set types = types|filter(t => t.handle == 'markdown') %} #}

            {% for type in types %}
                <tr style="vertical-align: top">
                    <td>{{ field.name }}</td>

                    <td>{{ type.name }}</td>

                    <td style="text-align: right">
                        {% set entries = craft.entries.site('*').status(null).fieldId(field.id).unique().type(type).all %}

                        {{ entries|length }}

                        {% if entries|length == 0 %}
                            <span style="color: red;">Unused</span>
                        {% endif %}

                    </td>
                    <td>
                        {% if entries|length < limit %}
                            {% set entries = entries|multisort(e => craft.entries.id(e.ownerId).site('*').status(null).unique().one.title ?? null) %}
                            {% for entry in entries|filter %}
                                <div>
                                    {% set owner = craft.entries.id(entry.ownerId).site('*').status(null).unique().one %}
                                    {% if owner %}
                                        <a href="{{ entry.cpEditUrl }}">{{ owner.title ?: entry.type.name }}</a> {{ entry.site.name }}
                                    {% else %}
                                        <a href="{{ entry.cpEditUrl }}">{{ entry.title ?: entry.type.name }} INVALID
                                            OWNER {{ entry.ownerId }}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        {% endfor %}
    </table>


{% endblock %}